@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Lato');

// COLORS:

$dark-blue: #003049;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;
$white: #EAE2B7;
$blue: #5BC0EB;
$grey: #CFD2CD;
$green: #9BC53D;

// FONTS;

$first-text: 'Black Han Sans', sans-serif;
$second-text: 'Lato', sans-serif;

body {
  background-color: $yellow;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

p, span, button, input {
  font-family: $second-text;
}

h1 {
  margin-top: 25px;
  font-family: $first-text;
  font-size: 35px;
  text-align: center;
  color: black;
}

#channelsList {
  margin: 20px;

  #channelsList-item {

    margin-bottom: 10px;

    #channelsList-item-streamInfo {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      min-height: 150px;
      padding: 20px;
      border: 5px solid $red;

      .channelLogo {
        display: inline-block;
        max-width: 100px;
        margin-left: 20px;
        border-radius: 100%;
      }

      p {
        text-align: center;
        display: block;
        margin-bottom: 10px;
      }

      p:first-of-type {
        font-style: italic;
      }

      button {
        display: block;
        margin: auto;
      }

      .streamPreview {
        display: inline-block;
        height: 80%;
      }

    }

  }
}

#addChannelForm {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 25px;

  span {
    font-style: italic;
    font-size: 15px;
  }

  span:first-of-type {
    color: $dark-blue;
  }

  span:last-of-type {
    color: $red;
  }

}