@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Lato');

// COLORS:

$dark-blue: #003049;
$red: #D62828;
$orange: #F77F00;
$yellow: #FCBF49;
$white: #EAE2B7;
$blue: #5BC0EB;
$dark-grey: #494949;
$green: #20BF55;

// FONTS;

$first-text: 'Black Han Sans', sans-serif;
$second-text: 'Lato', sans-serif;

body {
  background-color: $dark-blue;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

p, span, button, input {
  font-family: $second-text;
}

h1, h2, h3 {
  font-family: $first-text;
}

h1 {
  margin: 25px;
  font-size: 35px;
  text-align: center;
  color: $white;
}

#activeChannelsCounter {

  h2 {
    text-align: center;
    font-size: 25px;
    color: $white;
  }

  h2:nth-child(2) {
    color: $green;
  }

}

#channelsList {
  margin: 20px;

    #channelsList-item-streamInfo {

      min-height: 300px;
      margin-bottom: 10px;
      padding: 20px;
      border: 5px solid $white;

      #channelLogo {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        max-width: 100px;
        border: 5px solid $white;
        border-radius: 100%;

      }

      #streamDetails {
        display: block;
        margin: auto;
        padding-bottom: 20px;
      }

      h2 {
        font-size: 25px;
      }

      h2, h3, p {
        text-align: center;
        display: block;
        margin-bottom: 10px;
      }

      p:first-of-type {
        font-style: italic;
      }

      p:last-of-type {
        margin-bottom: 0;
      }

      button {
        display: block;
        margin: auto;
      }

      #streamPreview {
        display: block;
        margin: auto;
        width: 90%;
        border: 5px solid $white;
        border-radius: 10%;
      }

    }

  }

#addChannelForm {
  text-align: center;
  margin-bottom: 10px;

  span {
    display: inline-block;
    margin-bottom: 10px;
    color: $white;
  }

}

footer {
  text-align: center;
  margin-bottom: 25px;

  span {
    font-style: italic;
    font-size: 15px;
    color: $white;
  }

  a {
    font-style: italic;
    font-size: 15px;
    color: $orange;
  }

}

@media screen and (min-width: 576px) {

  #streamPreview {
    width: 50% !important;
  }

}

@media screen and (min-width: 768px) {

  #channelsList {

    #channelsList-item-streamInfo {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: space-between;
      min-height: 150px;
      transition: background-color, 1s;

      #channelLogo {
        display: inline-block;
        margin: 0 0 0 20px;
        padding-bottom: 0;

      }

      #streamDetails {
        max-width: 200px;
        margin: 0;
      }

      #streamPreview {
        display: inline-block;
        margin: 0;
        max-width: 320px;
      }

    }

    #channelsList-item-streamInfo:hover {
      background-color: $orange;
    }

  }

  #addChannelForm {
    span {
      margin-right: 10px;
    }
  }

}

@media screen and (min-width: 992px) {

  #streamDetails {
    max-width: 350px;
  }

}

@media screen and (min-width: 1200px) {

  #streamDetails {
    max-width: 600px;
  }

}