@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans|Lato");
body {
  background-color: #003049; }

a {
  text-decoration: none;
  color: black; }

button {
  cursor: pointer; }

p, span, button, input {
  font-family: "Lato", sans-serif; }

h1, h2, h3 {
  font-family: "Black Han Sans", sans-serif; }

h1 {
  margin: 25px 25px 0 25px;
  font-size: 35px;
  text-align: center;
  color: #EAE2B7; }

#channelsList {
  margin: 20px; }
  #channelsList #channelsList-item-streamInfo {
    min-height: 300px;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid #EAE2B7; }
    #channelsList #channelsList-item-streamInfo #channelLogo {
      display: block;
      margin: auto;
      padding-bottom: 20px;
      max-width: 100px;
      border: 5px solid #EAE2B7;
      border-radius: 100%; }
    #channelsList #channelsList-item-streamInfo #streamDetails {
      display: block;
      margin: auto;
      padding-bottom: 20px; }
    #channelsList #channelsList-item-streamInfo h2 {
      font-size: 25px; }
    #channelsList #channelsList-item-streamInfo h2, #channelsList #channelsList-item-streamInfo h3, #channelsList #channelsList-item-streamInfo p {
      text-align: center;
      display: block;
      margin-bottom: 10px; }
    #channelsList #channelsList-item-streamInfo p:first-of-type {
      font-style: italic; }
    #channelsList #channelsList-item-streamInfo p:last-of-type {
      margin-bottom: 0; }
    #channelsList #channelsList-item-streamInfo button {
      display: block;
      margin: auto; }
    #channelsList #channelsList-item-streamInfo #streamPreview {
      display: block;
      margin: auto;
      width: 90%;
      border: 5px solid #EAE2B7;
      border-radius: 10%; }

#addChannelForm {
  text-align: center;
  margin-bottom: 10px; }
  #addChannelForm span {
    display: inline-block;
    margin-bottom: 10px;
    color: #EAE2B7; }

footer {
  text-align: center;
  margin-bottom: 25px; }
  footer span {
    font-style: italic;
    font-size: 15px; }
  footer span:first-of-type {
    color: #EAE2B7; }
  footer span:last-of-type {
    color: #F77F00; }

@media screen and (min-width: 576px) {
  #streamPreview {
    width: 50% !important; } }
@media screen and (min-width: 768px) {
  #channelsList #channelsList-item-streamInfo {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 150px; }
    #channelsList #channelsList-item-streamInfo #channelLogo {
      display: inline-block;
      margin: 0 0 0 20px;
      padding-bottom: 0; }
    #channelsList #channelsList-item-streamInfo #streamDetails {
      max-width: 200px;
      margin: 0; }
    #channelsList #channelsList-item-streamInfo #streamPreview {
      display: inline-block;
      margin: 0;
      max-width: 320px; }

  #addChannelForm span {
    margin-right: 10px; } }
@media screen and (min-width: 992px) {
  #streamDetails {
    max-width: 350px; } }
@media screen and (min-width: 1200px) {
  #streamDetails {
    max-width: 600px; } }

/*# sourceMappingURL=style.css.map */
